<div style="padding-top: 20px">
    <form method="post" action="{{ path('groups_delete', {'id': group.id}) }}"
          onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ group.id) }}">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>
