{% extends 'base.html.twig' %}

{% block title %}Groups index{% endblock %}

{% block body %}
    <h1>Groups</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.title }}</td>
                <td>
                    <a href="{{ path('groups_show', {'id': group.id}) }}">show</a>
                    <a href="{{ path('groups_edit', {'id': group.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('groups_new') }}">Create new</a>
{% endblock %}
