{% extends 'base.html.twig' %}

{% block title %}Groups{% endblock %}

{% block body %}
    <h1>Groups</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ group.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ group.title }}</td>
            </tr>
        </tbody>
    </table>

    {% if group.users|length %}
        <h3>Group users</h3>
        <ul>
            {% for user in group.users %}
                <li>{{ user.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{{ path('groups_index') }}">back to list</a>

    <a href="{{ path('groups_edit', {'id': group.id}) }}">edit</a>

    {{ include('groups/_delete_form.html.twig') }}
{% endblock %}
